* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.wrapper {
    height: 100%;
    overflow: hidden;
    position: relative;
    background: url(../img/pink-tulips-on-pink-background_326533-671.avif);
}

img {
    max-width: 100%;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.content {
    height: 100%;
    animation: zoom 5s 1s;
}

.title {
    text-align: center;
    animation: zoom 2s 9s backwards;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgb(255, 0, 179);
    padding-top: 50px;
}

.main {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main__back-wrap {
    position: relative;
    animation: run-left 3s 6s forwards;
}

.main__back-img {}

.main__front-wrap {
    position: absolute;
    top: 0;
    left: 0;
    animation: run-right 3s 6s forwards;
}

.main__front-img {}

@keyframes zoom {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes run-left {
    100% {
        transform: translateX(-196px);
    }
}

@keyframes run-right {
    100% {
        transform: translateX(285px);
    }
}